<div class="container">
<div class="rows">
  <div class="col-md-push-6 col-sm-6 col-xs-12 new_btn" >
  <%= link_to_new(new_plan_path) if current_user.admin==true %>
  <%= link_to_dash %>
  </div>
  <div class="col-md-pull-6 col-sm-6 col-xs-12 table_header" >
   <h2>All available plans</h2>
    <h3> this list displays all the plans<br></h3>
  </div>
</div>
</div>
<div class="container table_box">
  <div class="table-responsive">                 
  <table class="table table-responsive table-striped">
    <thead class="thead-inverse">
      <tr>
      <th>Name</th>
      <th>Company</th>
      <th>duration</th>
      <th>sum insured</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |i| %>
        <tr>
        <td><%=i.name%></td>
        <% @company = Company.find(i.company_id) %>
        <td><%=@company.name%></td>
        <td><%= i.duration %></td>
        <td><%= i.sum_insured %> </td>
        <td><%= link_to_show(plan_path(i.id)) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>