<% if user_signed_in? %>
<div class="container-fluid name_box">
  <div class="dropdown col-md-offset-8 col-sm-offset-5 col-xs-offset-3 col-md-4">
    <h3 data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= current_user.first_name %> <%= current_user.last_name%>
     </h3>
    <ul class="dropdown-menu dropdown-menu-center">
            <li class="text-center"> <%= link_to "home", dash_welcome_path %> </li>
            <li class="text-center"> <%= link_to "show details", user_path(current_user.id) %> </li>
            <li class="text-center"> <%= link_to "edit", edit_user_path(current_user.id)%></li>
            <li class="text-center"><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
  </div>
</div>
<% end %>


