<% if @companies.count != 0 %>

  <div class="container">
  <div class="rows">
    <div class="col-md-push-6 col-sm-6 col-xs-12 new_btn" >
    <%= link_back(policies_path) %>
    <%= link_to_dash %>
    </div>
  </div>
  </div>
   <h2 class="col-md-offset-5 col-sm-offset-5 col-xs-offset-4 form_header"> step 1: Select a company</h2>
  <div class="container">
      <div class="rows">
        <% @companies.each do |i| %>
        <%= link_to policies_select_plan_path(:company_id => i.id) do %>
        <div class="col-md-4 company_type_box" >
          <h2><%=i.name%></h2><br>
          <h3>description: <%=i.description%> </h3>

        </div>
        <% end %>
        <% end %>
      </div>
  </div>
<% else %>
   <div class="container">
  <div class="rows">
    <div class="col-md-push-6 col-sm-6 col-xs-12 new_btn" >
    <%= link_back(policies_path) %>
    <%= link_to_dash %>
    </div>
  </div>
  </div>
   <h2 class="col-md-offset-5 col-sm-offset-5 col-xs-offset-4 form_header"> no companies found</h2>
   <% end %>
